  #talkbubble {
      width: 25%;
      height: 80px;
      margin: 100px;
      padding: 15px;
      background: red;
      position: relative;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    #talkbubble:before {
         content: "";
    position: absolute;
    right: 20%;
    top: 78px;
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 50px solid transparent;
    border-top: 30px solid red;
    
    }
  